.order__route-title,
.order__passenger-title,
.order__payment-title {
  display: flex;
  align-items: center;
  padding-left: 30px;
  height: 95px;
  background-color: #FFFFFF;
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  color: #292929;
}

.order__route-title {
  border: 1px solid #C4C4C4;
  border-bottom: none;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.order__route-btn,
.passenger__container-btn,
.order__payment-btn {
  width: 233px;
  height: 40px;
  border: 1px solid #292929;
  border-radius: 5px;
  margin: 15px 22px 26px auto;
  background-color: transparent;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  color: #292929;
  cursor: pointer;

  &:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    color: #FFA800;
    transition: all 200ms ease-in;
  }
}

.order__passengers {
  background-color: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  margin-bottom: 50px;
}

.order__passenger-title,
.order__payment-title {
  border-bottom: 1px solid #C4C4C4;
}

.order__passenger-container {
  display: flex;
}

.passengers__container-list,
.order__payment-text {
  width: 680px;
  border-right: 1px dashed #E5E5E5;
}

.passengers__container-item,
.passengers__container-item-border {
  display: flex;
  height: 218px;
}

.passengers__container-item-border {
  border-bottom: 1px dashed #E5E5E5;
}

.passenger__container-img {
  display: flex;
  width: 68px;
  height: 68px;
  background-image: url(../../assets/images/avatar.png);
  margin: 60px 45px 17px 43px;
}

.passenger__container-ages {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #292929;
  text-align: center;
}

.passenger__container-name {
  margin-top: 60px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #292929;
  text-transform: capitalize;
}

.passenger__container-gender,
.passenger__container-birth,
.passenger__container-docs {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #928F94;
  margin-bottom: 7px;
}

.passenger__container-change {
  display: flex;
  flex-direction: column;
}

.passenger__container-total,
.passenger__container-price {
  display: flex;
}

.passenger__container-total {
  justify-content: center;
  margin-top: auto;
}

.passenger__container-total > p {
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  color: #292929;
  margin-right: 30px;
}

.passenger__container-price > p {
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  color: #292929;
}

.passenger__container-btn {
  margin-left: 25px;
}

.order__payment {
  width: 960px;
  background-color: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.order__payment-method {
  display: flex;
  height: 145px;
}

.order__payment-text {
  width: 680px;
  box-sizing: border-box;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  color: #292929;
  padding-top: 44px;
  padding-left: 35px;
}

.order__payment-btn {
  margin-top: auto;
}

.order__btn {
  display: block;
  margin-left: auto;
  width: 323px;
  height: 60px;
  margin-top: 123px;
  background-color: #FFA800;
  border-radius: 5px;
  border: none;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 200ms ease-in-out;
  }
}
