.error,
.error__transform {
  display: flex;
  position: absolute;
  background-color: #FFB59E;
  width: 280px;
  padding: 5px;
  border-radius: 5px;
}

.error > p,
.error__transform > p {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.error > p::before,
.error__transform > p::before {
  content: '';
  position: absolute;
  background-color: #FFB59E;
  transform: rotate(45deg);
  width: 15px;
  height: 15px;
  top: -12px;
  left: 145px;
}

.error {
  top: 195px;
  left: 20px;
}

.error__transform {
  top: 79%;
  left: 9%;
}
