.details__main {
  width: 360px;
  background-color: #3E3C41;
}

.details__line {
  width: 100%;
  border-bottom: 1px solid #E5E5E5;
}

.details__title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 108px;
  border-bottom: 1px solid #E5E5E5;
}

.details__title-text {
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
  text-transform: uppercase;
  color: #E5E5E5;
}

.details__there {
  margin: 16px 26px 53px 26px;
}

.details__there-head {
  display: flex;
  align-items: baseline;
  margin-bottom: 55px;
}

.there__head-img {
  display: flex;
  width: 32px;
  height: 26px;
  background-image: url(../../assets/images/Subtract.png);
  cursor: pointer;
  align-self: self-end;
}

.there__head-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 32px;
  color: #FFFFFF;
  margin-left: 12px;
}

.there__head-date {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #FFFFFF;
  margin-left: 20px;
  margin-right: auto;
}

.there__head-open {
  display: flex;
  width: 20px;
  height: 20px;
  background-image: url(../../assets/images/show-down.png);
  cursor: pointer;
}

.there__train-number,
.there__train-name {
  display: flex;
  justify-content: space-between;
}

.there__train-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #E5E5E5;
}

.there__train-text {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: right;
  color: #FFFFFF;
}

.there__train-name {
  margin-top: 20px;
}

.there__route {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  position: relative;
}

.there__time {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #FFFFFF;
}

.there__date {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #928F94;
  margin-top: 5px;
  margin-bottom: 15px;
}

.there__city {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #FFFFFF;
  text-transform: capitalize;
}

.there__station {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #928F94;
}

.there__arrow-time {
  position: absolute;
  top: -20px;
  left: 132px;
}

.there__travel-time {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #E5E5E5;
}

.there__direction-arrow {
  display: flex;
  width: 30px;
  height: 20px;
  background-image: url(../../assets/images/dir-right.png);
  margin: auto;
}

.there__route-to {
  text-align: right;
}

.details__passengers {
  margin: 14px 27px 46px 28px;
}

.details__passengers-head {
  display: flex;
  align-items: baseline;
  margin-bottom: 30px;
}

.passenger__head-img {
  display: flex;
  width: 26px;
  height: 26px;
  background-image: url(../../assets/images/man.png);
}

.passenger__head-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  color: #FFFFFF;
  margin-left: 17px;
  margin-right: auto;
}

.passenger__head-open-down,
.passenger__head-open-up {
  display: flex;
  width: 20px;
  height: 20px;
  background-image: url(../../assets/images/show-down.png);
  cursor: pointer;
}

.passenger__head-open-down {
  background-image: url(../../assets/images/show-down.png);
}

.passenger__head-open-up {
  background-image: url(../../assets/images/show-up.png);
}

.passenger__amount-price {
  display: flex;
  margin-bottom: 15px;
}

.passenger__amount {
  display: flex;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #E5E5E5;
  margin-right: auto;
}

.amount {
  margin-right: 5px;
}

.passenger__price {
  display: flex;
  align-items: baseline;
}

.passenger__price-text {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: right;
  color: #FFFFFF;
}

.passenger__price-sign {
  display: flex;
  margin-left: 7px;
  width: 14px;
  height: 17px;
  background-image: url(../../assets/images/sign.png);
  background-size: cover;
}

.details__total {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 109px;
}

.details__total-line {
  display: flex;
}

.details__total-text {
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
  color: #FFFFFF;
  align-self: flex-end;
  margin-right: 70px;
}

.total__price-text {
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  color: #FFA800;
}

.details__total-sign {
  display: flex;
  width: 30px;
  height: 35px;
  background-image: url(../../assets/images/total-sign.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  margin-left: 10px;
  align-self: center;
}
